.hero {
    /* Set the background image */
    background-image: url('../assets/coolBackground.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 230vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }