.head{
    background-color: yellowgreen;
    text-align: center;
}

.container {
    background-image: url('./assets/bg.jpg');
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 55vh;
    color: white;
}

.explain {
    margin-bottom: 10px;
    font-size: 35px;
}

.des {
    margin-bottom: 20px;
    font-size: 20px;
}

.dropdown-container {
    position: relative;
    width: 200px; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
}

.dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow on Safari */
    -moz-appearance: none; /* Remove default arrow on Firefox */
}

.dropdown-container::after {
    content: '\25BC'; /* Unicode character for arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Focus styles */
.dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



